/* uppdaterad*/

#rubrik{
    border: 1px solid black;
    text-align: center;
    background-color: yellow;
    color:blue;
}
body{
    background-image: url("img/showcase.jpg");
}

.gray-box{
    border: solid;
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
